<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Remove unnecessary internet permission for better security -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->

    <!-- Declare that app doesn't require telephony features -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RewardPoints"
        android:requestLegacyExternalStorage="false"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Main Activity (Modern) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="unspecified"
            android:supportsPictureInPicture="false">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Points History Activity (Modern) -->
        <activity
            android:name=".ModernHistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:supportsPictureInPicture="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Legacy Points History Activity (for backward compatibility) -->
        <activity
            android:name=".PointsHistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:supportsPictureInPicture="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Manage Rewards Activity -->
        <activity
            android:name=".ManageRewardsActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <!-- Manage Points Sources Activity -->
        <activity
            android:name=".ManagePointsSourcesActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <!-- Create/Edit Reward Activities -->
        <activity
            android:name=".CreateRewardActivity"
            android:exported="false"
            android:parentActivityName=".ManageRewardsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".EditRewardActivity"
            android:exported="false"
            android:parentActivityName=".ManageRewardsActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Create Points Source Activity -->
        <activity
            android:name=".CreatePointsSourceActivity"
            android:exported="false"
            android:parentActivityName=".ManagePointsSourcesActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Add backup agent configuration -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />

    </application>

</manifest>